:root {
    --npslightbrown: #c46c39;
    --npsdarkbrown: #98542c;
    --npsdarkgreen: #2d4b1e;
}

@font-face {
    font-family: "Rawlinson";
    src: url('fonts/Rawlinson Bold.otf')
}

@font-face {
    font-family: "Frutiger";
    src: url('fonts/Frutiger.ttf');
}

.divider {
    height: 0px;
    width: 100%;
}

hr {
    margin: 50px;
    height: 3px!important;
    background-color: var(--npslightbrown)
}

#nps_img {
    padding-top: 25px;
    padding: 25px;
    width: 45px;;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.marks {
    font-family: "Rawlinson";
}

#margin {
    background-color: white!important;
}

#container {
    background-color: #fef8f5;
    align-self: center;
}

h2 {
    text-align: center;
    font-family: "Rawlinson";
    color: var(--npsdarkbrown);
    font-size: 80px;
    margin: 10px;
}

h3 {
    text-align: center;
    font-family: "Rawlinson";
    font-size: 30px;
    color: var(--npsdarkbrown);
    margin: 10px
}

h5 {
    text-align: center;
    font-family: "Rawlinson";
    font-size: 18px;
    color: var(--npslightbrown);
    margin: 5px;
    margin-bottom: 15px;
}

h6 {
    text-align: center;
    font-family: "Rawlinson";
    font-size: 14px;
    color: var(--npslightbrown);
    margin: 0px;
    margin-bottom: 15px;
}

.right_side_text {
    margin-right: 20px;
}

li {
    font-family: "Frutiger";
    font-size: 16px;
    color: var(--npslightbrown);
    margin-bottom: 15px;
}

#bump_chart, #small_multiples, #stacked_chart, #timeline {
    margin-left: 40px;
}
